<%- include('header'); -%>

    <div class='content'>
        <table>
            <tr>
                <td>
                    Number: <%= num %>
                </td>
            </tr>
            <tr>
                <td>
                    Username: <%= username %>
                </td>
            </tr>
            <tr>
                <td>
                    Contact: <%= contact%>
                </td>
            </tr>
            <tr>
                <td>
                    Address: <%= addres %>
                </td>
            </tr>
            <tr>
                <td>
                    Zip Code: <%= zipcode %>
                </td>
            </tr>
            <tr>
                <td>
                    City: <%= city %>
                </td>
            </tr>
            <tr>
                <td>
                    Phone: <%= phone %>
                </td>
            </tr>
            <tr>
                <td>
                    Fax: <%= fax %>
                </td>
            </tr>
            <tr>
                <td>
                    Max Outstanding: <%= max %>
                </td>
            </tr>
        </table>
        <br>
    </div>

<%- include('footer'); -%>